<div class="bg-white py-12 ">
  <div
    class="mx-auto grid max-w-7xl gap-x-8 gap-y-10 px-6 lg:px-8 xl:grid-cols-2"
  >
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Chat
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque
        necessitatibus alias consequatur illo suscipit a quos accusantium minus
        quaerat iste porro eos, quis ab laudantium velit. Commodi similique
        tempora esse.
      </p>
    </div>
    <ul role="list" class="w-full">
      <li>
        <div class="relative flex flex-wrap items-stretch">
          <span
            class="flex items-center whitespace-nowrap rounded-l border border-r-0 border-solid border-neutral-300 px-3 py-[0.25rem] text-center text-base font-normal leading-[1.6] text-neutral-700 dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200"
            >sua dúvida</span
          >
          <textarea
            class="relative m-0 block w-[1px] min-w-0 flex-auto rounded-r border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
            aria-label="With textarea"
            [formControl]="chat"
            (keydown)="resposta($event, chat)"
          ></textarea>
        </div>

        <div
          *ngIf="text"
          class="block rounded-lg bg-white p-4 mt-2 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700"
        >
          <p
            class="mb-7 text-base text-neutral-600 dark:text-neutral-200"
            style="white-space: pre-line"
          >
            {{ text }}
          </p>
        </div>

        <div *ngIf="loading" class="mt-3" style="text-align: center">
          <div
            class="inline-block h-8 w-8 animate-[spinner-grow_0.75s_linear_infinite] rounded-full bg-current align-[-0.125em] opacity-0 motion-reduce:animate-[spinner-grow_1.5s_linear_infinite]"
            role="status"
          >
            <span
              class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
              >Loading...</span
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
